@if (randomTrack.hasValue()) {
  <div class="w-full select-none">
    <div
      class="grid grid-cols-[16px_4fr_3fr_100px] gap-4 px-4 py-2 text-zinc-500 text-[10px] uppercase tracking-[0.2em] font-bold border-b border-white/5 mb-4"
    >
      <span>#</span>
      <span>Titolo</span>
      <span class="hidden md:block">Album</span>
      <span class="text-right">Durata</span>
    </div>

    <div class="flex flex-col space-y-1">
      @for (track of randomTrack.value(); track track.id) {
        <app-track-item [track]="track" [index]="$index"></app-track-item>
      } @empty {
        <div class="flex flex-col items-center justify-center py-20 text-zinc-700">
          <p class="italic font-medium">Nessun brano da mostrare.</p>
        </div>
      }
    </div>
  </div>
} @else if (randomTrack.isLoading()) {
  <div class="w-full select-none">
    <div
      class="grid grid-cols-[16px_4fr_3fr_100px] gap-4 px-4 py-2 text-zinc-500 text-[10px] uppercase tracking-[0.2em] font-bold border-b border-white/5 mb-4"
    >
      <span>#</span>
      <span>Titolo</span>
      <span class="hidden md:block">Album</span>
      <span class="text-right">Durata</span>
    </div>

    <div class="flex flex-col space-y-1 animate-pulse">
      @for (_ of [1, 2, 3, 4, 5, 6, 7]; track _) {
        <div class="grid grid-cols-[16px_4fr_3fr_100px] gap-4 px-4 py-3 rounded-xl items-center">
          <div class="w-4 h-4 bg-zinc-800 rounded-md"></div>
          <div class="flex items-center space-x-4 min-w-0">
            <div class="w-12 h-12 rounded-lg bg-zinc-800"></div>
            <div class="flex flex-col min-w-0 space-y-2">
              <div class="h-4 bg-zinc-800 rounded w-48"></div>
              <div class="h-3 bg-zinc-800 rounded w-32"></div>
            </div>
          </div>
          <div class="h-4 bg-zinc-800 rounded w-32 hidden md:block"></div>
          <div class="h-4 bg-zinc-800 rounded w-12 ml-auto"></div>
        </div>
      }
    </div>
  </div>
} @else if (randomTrack.error()) {
  <div class="flex flex-col items-center justify-center py-20 text-zinc-700">
    <p class="italic font-medium">Errore nel caricamento dei dati, si prega di riprovare.</p>
  </div>
}
